:root {
  --color-black-trans: #37313477;
  --color-black: #373134;
  --color-pink: #d4265f;
  --color-purple: #8b6391;
  --color-yellow: #f8ef24;
}

@font-face {
  font-family: 'Teuton Fett Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TeutonFett-Regular.woff') format('woff');
}

@property --count {
  inherits: true;
  initial-value: 0deg;
  syntax: '<angle>';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    calc(var(--gradient-angle-body, 0deg) + var(--count, 0deg)),
    var(--color-pink) 0%,
    var(--color-purple) 100%
  );
  color: var(--color-yellow);
  font-family: 'Teuton Fett Regular';
  font-size: 16px;
  text-shadow: 0px 0px 5px var(--color-black), 0px 0px 10px var(--color-black),
    0px 0px 15px var(--color-black), 0px 0px 20px var(--color-black);
}

main {
  align-items: center;
  background: linear-gradient(
    calc(var(--gradient-angle-main, 0deg) - var(--count, 0deg)),
    var(--color-pink) 0%,
    var(--color-purple) 100%
  );
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  text-align: center;
}

h1 {
  color: var(--color-yellow);
  font-size: 32px;
  font-weight: 100;
  margin: -12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contents {
  background: var(--color-black-trans);
  border-radius: 6px;
  color: var(--color-yellow);
  margin-bottom: 16px;
  min-width: 280px;
  padding: 8px 16px;
}

.decks {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
}

.decks-label {
  padding: 0px 8px;
}

.decks-value {
  font-size: 28px;
}

hr {
  background-color: var(--color-pink);
  border-color: var(--color-pink);
  border-top: 1px solid var(--color-pink);
  color: var(--color-pink);
  margin: 16px;
}

.setting-group {
  margin-bottom: 16px;
}

.setting-group:last-child {
  margin-bottom: 0;
}

.toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.toggle input[type='checkbox'] {
  display: none;
}

.toggle-slider {
  background: var(--color-purple);
  border-radius: 16px;
  height: 16px;
  margin-right: 10px;
  position: relative;
  transition: background 0.2s;
  width: 32px;
}

.toggle-slider::after {
  background: var(--color-black);
  border-radius: 50%;
  content: '';
  height: 12px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: transform 0.2s;
  width: 12px;
}

.toggle input[type='checkbox']:checked + .toggle-slider {
  background: var(--color-pink);
}

.toggle input[type='checkbox']:checked + .toggle-slider::after {
  transform: translateX(16px);
}

.toggle input[type='checkbox']:disabled + .toggle-slider,
.toggle input[type='checkbox']:disabled + .toggle-slider + .toggle-label {
  cursor: not-allowed;
  opacity: 0.8;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button {
  background: color-mix(in srgb, var(--color-purple), black 20%);
  border-radius: 4px;
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow);
  cursor: pointer;
  display: block;
  font-family: 'Teuton Fett Regular';
  font-size: 16px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  text-align: center;
  text-shadow: 0px 0px 5px var(--color-black), 0px 0px 10px var(--color-black),
    0px 0px 15px var(--color-black), 0px 0px 20px var(--color-black);
  transition: all 0.2s;
  width: 120px;
}

.button:hover {
  background: color-mix(in srgb, var(--color-pink), white 20%);
}

.button:disabled {
  background: var(--color-black);
  border: 2px solid var(--color-black);
  cursor: not-allowed;
}
